body{
    padding:100px;
}
.submit-area{
    margin-top: 40px;
    border-radius: 30px;
    box-shadow: 5px 5px  10px grey;
    padding: 50px;
 
}
#transaction-area{
    display:none;
}
.deposit{
    background-color: slateblue;
    padding: 40px;
    border-radius: 30px;
    margin: 0px 20px;
    color:white;
}
.withdraw{
    background-color: lightsalmon;
    padding: 40px;
    border-radius: 30px;
    margin: 0px 20px;
    color:white;
}
.balance{
    background-color: orange;
    padding: 40px;
    border-radius: 30px;
    margin: 0px 20px;
    color:white;
}